*{
  box-sizing:border-box;
}


body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(238,232,170,0.5);
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}

.ham-menu {
  display: none;
}
/*          ここまでheader       */



/*          main       */
.main-wrapper{
  background-color:#f5f5f5;
  padding-top:90px;
  overflow: hidden;
}

.main-wrapper h1 {
  text-align: center;
  font-size:50px;
  font-weight:600;
  color:#505050;
  font-family:"ヒラギノ角ゴ StdN W8","Hiragino Kaku Gothic StdN";
}

/*.main-wrapper span {
  font-family: 'IMPACT', sans-serif;
}*/

.main-left {
    float:left;
    width:50%;
}

.map {
  margin-top:40px;
  border-radius:10px;
}

iframe {
  border-radius:10px;
}


.main-right {
  float:right;
  width:50%;
}

.access-text {
  margin-top: 40px;
}

.access-text h2 {
  background-color:white;
  padding:10px 20px;
  border-radius:10px;
  color:#4682b4;
  font-family: "メイリオ", sans-serif;
}

.access-text h4 {
  color:#505050;
  font-family: "メイリオ", sans-serif;
}

/*          ここまでmain       */

.footer {
  text-align: center;
}

.sns-box {
  overflow: hidden;
  display:inline-block;
}

.sns-box li {
  font-size:30px;
  float: left;
  margin-top:50px;
  margin-bottom:50px;
  margin-right:40px;
  background-color:#fff;
  line-height: 50px;
  border-radius:50%;
  background-color:
}



.facebook a {
  width:50px;
  height:50px;
  display: block;
  color:#fff;
  border-radius:50%;
  background-color:rgba(60,79,149,1);
  transition:0.3s;
}

.facebook a:hover {
  color:rgba(60,79,149,1);
  background-color:#fff;
  border: 1px solid rgba(60,79,149,1);
}

.twitter a {
  color:#fff;
  width:50px;
  height:50px;
  display: block;
  border-radius:50%;
  background-color:rgba(115,168,237,1);
  transition:0.3s;
}

.twitter a:hover {
  color:rgba(115,168,237,1);
  background-color:#fff;
  border: 1px solid rgba(115,168,237,1);
}

.hatena-bookmark a{
  color:#fff;
  font-family: Verdana;
    font-weight: bold;
    width:50px;
    height:50px;
    display: block;
    border-radius:50%;
    background-color:rgba(88,160,221,1);
    transition:0.3s;
}

.hatena-bookmark a:hover {
  color:rgba(88,160,221,1);
  background-color:#fff;
  font-family: Verdana;
  font-weight: bold;
  border: 1px solid rgba(88,160,221,1);
}




.footer-logo img{
  width:90px;
}
