body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(255,255,255,0.8);
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}
/*          ここまでheader       */



/*          home       */
.home-wrapper {
  padding:300px 0 300px 0;
  background-position: center center;
  background-image: url("../images/access-home画像.jpg");
  background-size: cover;
}
/*          ここまでhome       */






/*          main       */
.main-wrapper{
  background-color:#f5f5f5;
  height:600px;
}

.main-left {
    float:left;
    width:50%;
}

.map {
  margin-top:40px;
  border-radius:10px;
}

iframe {
  border-radius:10px;
}


.main-right {
  float:right;
  width:50%;
}

.access-text {
  margin-top: 40px;
}

.access-text h2 {
  background-color:white;
  padding:10px 20px;
  border-radius:10px;
  color:#4682b4;
}

.access-text h4 {
  color:#505050;
}

/*          ここまでmain       */
