*{
  box-sizing:border-box;
}




body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(238,232,170,0.5);
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}

#menu-icon {
  display: none;
  color: #696969;
  font-size:30px;
}

/*          ここまでheader       */



/*          home
.home-wrapper {
  padding:300px 0 300px 0;
  background-position: center center;
  background-image: url("../images/artist-home画像.jpg");
  background-size: cover;
}
         ここまでhome       */




/*          main       */

.main-wrapper {
  width:100%;
  background-color:#f5f5f5;
  padding-top:90px;
  text-align: center;
  overflow: hidden;
}

.main-wrapper h1 {
  text-align: center;
  font-size:50px;
  font-weight:600;
  color:#505050;
  font-family:"ヒラギノ角ゴ StdN W8","Hiragino Kaku Gothic StdN";
}

.artist-block {
  background-color: white;
  overflow: hidden;
  border-radius:50px;
}

.artists {
  float:left;
  width:33%;
}

.artists img  {
  width:230px;
  height:230px;
  margin-top:40px;
  display: inline-block;
  transition: 0.3s;
}

.artists img:hover {
  opacity:0.6;
}

.genki-fujita-1 img{
  background-image: url("../images/genki-fujita-1.JPG");
  background-size: cover;
  background-position: center center;
}

.genki-fujita-2 img{
  background-image: url("../images/genki-fujita-2.JPG");
  background-size: cover;
  background-position: center center;
}

.genki-fujita-3 img{
  background-image: url("../images/genki-fujita-3.JPG");
  background-size: cover;
  background-position: center center;
}

.artists h3 {
  margin-top:5px;
  font-size:18px;
  font-weight: bold;
  color:#505050;
}

.and-more {
  text-align:right;
  font-size:40px;
  font-family: 'IMPACT', sans-serif;
  color:#4682b4;
  padding-bottom: 40px;
}



/*          ここまでmain       */


/*          modal       */

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

#login-form img{
  width:240px;
  height:240px;
  background-size: cover;
  background-image: url("../images/genki-fujita-1.JPG");
  background-size: cover;
  background-position: center center;
}

#login-form h3 {
  color:#505050;
}

.login-modal-wrapper-2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal-2 {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

#login-form-2 img{
  width:300px;
  height:240px;
  background-size: cover;
  background-image: url("../images/genki-fujita-2.JPG");
  background-size: cover;
  background-position: center center;
}

#login-form-2 h3 {
  color:#505050;
}

.login-modal-wrapper-3 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal-3 {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

#login-form-3 img{
  width:240px;
  height:240px;
  background-size: cover;
  background-image: url("../images/genki-fujita-3.JPG");
  background-size: cover;
  background-position: center center;
}

#login-form-3 h3 {
  color:#505050;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

/*          ここまでmodal       */

.sosyal {
  margin: 50px auto;
}
.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}
.twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.twitter:active {
  top: 2px;
	box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.google {
  background-color: #CC3622;
  box-shadow: 0 4px 0 #BA2714;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.google:active {
  top: 2px;
	box-shadow: 0 2px 0 #BA2714;
}
.google:hover {
  background-color: #D04829;
}
/*    ここまでMODAL   */

.footer {
  text-align: center;
  height:180px;
}

.footer-logo img{
  width:90px;
}
