body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(70,130,180,0.3);
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}
/*          ここまでheader       */



/*          home
.home-wrapper {
  padding:300px 0 300px 0;
  background-position: center center;
  background-image: url("../images/artist-home画像.jpg");
  background-size: cover;
}
         ここまでhome       */




/*          main       */
.main-wrapper {
  width:100%;
  background-color:#f5f5f5;
  padding-top:90px;
  text-align: center;
}

.main-wrapper h1 {
  text-align: center;
  font-size:50px;
  color:#4682b4;
}

.artists {
  float:left;
  width:33%;
}

.artists img  {
  width:230px;
  height:230px;
  margin-top:40px;
  display: inline-block;
}

.genki-fujita-1 img{
  background-image: url("../images/genki-fujita-1.JPG");
  background-size: cover;
  background-position: center center;
}

.genki-fujita-2 img{
  background-image: url("../images/genki-fujita-2.JPG");
  background-size: cover;
  background-position: center center;
}

.genki-fujita-3 img{
  background-image: url("../images/genki-fujita-3.JPG");
  background-size: cover;
  background-position: center center;
}

.artists p {
  font-size:25px;
  font-weight: bold;
  color:#2f4f4f;
}

.and-more {
  text-align:right;
  font-size:40px;
  font-family: 'IMPACT', sans-serif;
  color:#4682b4;
  padding-bottom: 40px;
}



/*          ここまでmain       */


/*          modal       */

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;

}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

/*          ここまでmodal       */

.footer {
  text-align: center;
  height:300px;
}

.footer-logo img{
  width:90px;
}
