body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(255,215,0,0.3);
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}
/*          ここまでheader       */



/*          home       */

/*          ここまでhome       */



/*          main       */
.main-wrapper {
  width:100%;
  background-color:#f5f5f5;
  padding:20px 0;
  color:#505050;
}

.guide {
  background-color: white;
  text-align: center;
  border-radius:50px;
  padding:20px 0;
}


.guide-wrapper h2 {
  text-align: center;
  font-size: 60px;
  font-family: 'IMPACT', sans-serif;
}

.rules {
  background-color: white;
  text-align: center;
  border-radius:50px;
  padding:20px 0;
}

.rules-wrapper h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'IMPACT', sans-serif;
}

.faq {
  background-color: white;
  text-align: center;
  border-radius:50px;
  padding:20px 0;
}

.faq-wrapper h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'IMPACT', sans-serif;
}

.greeting {
  background-color: white;
  width:100%;
  text-align: center;
  border-radius:50px;
  padding:20px 0;
  display: inline-block;
}


.greeting img {
  width:400px;
  float: left;
}

.greeting-box {
  float:right;
  height:300px;
  width:650px;
  margin-right:100px;
}

.greeting-box p {
  text-align: left;
  font-size:21px;
}

.greeting-box h3 {
  text-align: left;
  font-size:25px;
}

.greeting-wrapper h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'IMPACT', sans-serif;
}

/*          ここまでmain       */
.sosyal {
  margin: 50px auto;
}
.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}
.twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.twitter:active {
  top: 2px;
	box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.google {
  background-color: #CC3622;
  box-shadow: 0 4px 0 #BA2714;

  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}
.google:active {
  top: 2px;
	box-shadow: 0 2px 0 #BA2714;
}
.google:hover {
  background-color: #D04829;
}


.footer {
  text-align: center;
  height:180px;
}

.footer-logo img{
  width:90px;
}
