body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(255,255,255,0.8);
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}
/*          ここまでheader       */



/*          home       */
.home-wrapper {
  padding:300px 0 300px 0;
  background-position: center center;
  background-image: url("../images/information-home画像.jpg");
  background-size: cover;
}
/*          ここまでhome       */



/*          news       */


/*          ここまでnews       */




/*          main       */
.main-wrapper {
  height:800px;
  width:100%;
  background-color:#f5f5f5;
}
/*          ここまでmain       */
