body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}




/*          header       */
.header {
  height:90px;
  width:100%;
  background-color:rgba(255,255,255,0.8);
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

.header-logo {
  margin-top:5px;
  float:left;
}

.header-logo img{
  width:90px;
}

.global-nav {
  float:right;
  margin-top: 10px;
}

.global-nav li {
  float:left;
}

.global-nav a {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#4682b4;
  transition: 0.3s;
}

.global-nav a:hover {
  opacity: 0.8;
}

.global-nav p {
  font-size: 30px;
  font-family: 'IMPACT', sans-serif;
  margin:0 15px;
  color:#c0c0c0;
}
/*          ここまでheader       */



/*          home       */
.home-wrapper {
  padding:300px 0;
  background-position: center center;
  background-image: url("../images/home画像.jpg");
  background-size: cover;
}
/*          ここまでhome       */



/*          news       */
.news-wrapper h2 {
  text-align:center;
  font-family: 'IMPACT', sans-serif;
  color:#4682b4;
}

.scroll-list {
  max-height: 100px;
  overflow-y: auto;
  margin-bottom:30px;
}

.scroll-list .scroll-item a {
  display: block;
  padding:10px 15px;
  color:#4682b4;
  transition:background-color 0.1s;
}

.scroll-list .scroll-item:nth-of-type(even) a {
  background: url("../images/bg-slash.gif");
}

.scroll-list .scroll-item a:hover {
  background-color: #fafaf8;
}

.scroll-list .date {
  display: inline-block;
}

.scroll-list .title {
  display: inline-block;
  padding-left: 15px;
}
/*          ここまでnews       */




/*          main       */
.main-wrapper{
  background-color:#f5f5f5;
  height:600px;
}

.main-left {
    float:left;
    width:50%;
}

.map {
  margin-top:40px;
  border-radius:10px;
}

iframe {
  border-radius:10px;
}


.main-right {
  float:right;
  width:50%;
}

.topics {
  width:95%;
  float:right;
}

.topics h2 {
  text-align:center;
  font-family: 'IMPACT', sans-serif;
  color:#4682b4;
}

.rules {
  width:46%;
  height:230px;
  background-color:#dcdcdc;
  margin-top:40px;
  border-radius:10px;
  display: inline-block;
  margin-right:30px;
}

.faq {
  width:46%;
  height:230px;
  background-color:#dcdcdc;
  margin-top:40px;
  border-radius:10px;
  display: inline-block;
  float:right;
}


.artist-news {
  float:right;
  width:95%;
  height:230px;
  margin-top:40px;
  border-radius:10px;
  background-image:url("../images/artist-news.jpg");
  background-size: cover;
  text-align: center;
  line-height:230px;
  transition: 0.2s;
}

.artist-news a {
  color:white;
  font-size:45px;
  font-weight: 600;
  text-align: center;
  transition: 0.3s;
  display: block;
  transition: 0.2s;
}

.artist-news a:hover {
  opacity:0.8;
}

.artist-news:hover {
  opacity:0.8;
}

/*          ここまでmain       */


.footer {
  text-align: center;
  height:300px;
}

.footer-logo img{
  width:90px;
}
