.DS_Store
app/Plugin/*
app/Config/env/development
app/tmp/*
app/certificate/
!empty
vendor/*
composer.phar
vagrant/.vagrant/
vagrant-aws/.vagrant/
**/.sass-cache
**/.sass-cache/*
app/webroot/userData/*
app/webroot/userData
app/webroot/cjs/*
app/webroot/css/editor.css
app/webroot/js/const_common.js
app/webroot/js/const_development.js
app/webroot/js/const_staging.js
app/webroot/js/const_production.js
app/webroot/js/const_experiment.js
app/webroot/sitemap.xml.gz
app/Config/development/bootstrap.php
app/Config/email.php
app/Config/core.php
app/Config/database.php
node_modules/
npm-debug.log
.idea
app/webroot/js/spec/capture
app/webroot/js/spec/reports/
app/webroot/selenium-debug.log
app/webroot/static_pages/docs
app/webroot/static_pages/dist
app/webroot/vaddy-*.html
!.gitkeep
