@media only screen and (min-width:376px) and (max-width:960px) {
/*tablet用のcssを記述*/
}

@media(max-width:670px) {


  .container {
    width:100%;
  }
  .main-wrapper {
    width:100%;
  }
  .top-wrapper img {
    width:100%;
  }
  .header {
    height:45px;
  }

  .header-logo img{
    width:45px;
  }

 .nav-item {
   display:none;
 }

 #menu-icon {
   display:block;
 }

 .main-wrapper h1 {
   text-align: center;
   font-size:35px;
   font-weight:600;
   color:#505050;
   font-family:"ヒラギノ角ゴ StdN W8","Hiragino Kaku Gothic StdN";
 }

 .main-left {
   width:100%;
 }


 .map {
position: relative;
padding-bottom:40%;
height: 0;
overflow: hidden;
}
.map iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 180px !important;
}

.main-right {
  width:100%;
}

.access-text h2 {
  text-align: center;
  font-size:20px;
}

.access-text h4 {
  font-size:15px;
}


  .footer-logo img{
    width:45px;
  }

}
