@media only screen and (min-width:376px) and (max-width:960px) {
/*tablet用のcssを記述*/
}

@media(max-width:670px) {


  .container {
    width:100%;
  }
  .main-wrapper {
    width:100%;
  }
  .top-wrapper img {
    width:100%;
  }
  .header {
    height:45px;
  }

  .header-logo img{
    width:45px;
  }

 .nav-item {
   display:none;
 }

 #navTgl {
  display: none;
}

label.open,
label.close {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}

.open {
  z-index: 2;
  width: 45px;
  height: 45px;
  color: white;
  background-color: #dfbe92;
  font-size:35px;
  text-align: center;
  -webkit-transition: background-color .6s, -webkit-transform .6s;
  transition: background-color .6s, transform .6s;
}

#navTgl:checked + .open {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
}

.close {
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: background-color .6s;
}

#navTgl:checked ~ .close {
  pointer-events: auto;
  background-color: rgba(0,0,0,.3);
}

/* :::::: drawer menu :::::: */

.ham-menu {
  display: block;
}



.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  background-color: rgba(0,0,0,.6);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}

#navTgl:checked ~ .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu h3,
.menu p,
.menu li a {
  color: white;
}

.menu h3{
  text-align: center;
}

.menu ul {
  padding: 0;
  list-style-type:none;
}

.menu li {
  border-bottom: 1px solid rgba(255,255,255,.6);
  font-size:15px;
  line-height: 1.4;
}

.menu li:first-child {
  border-top: 1px solid rgba(255,255,255,.6);
}

.menu li a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  transition: background-color .6s;
}

.menu li a:hover {
  background-color: black;
}



  .scroll-list .scroll-item a {
    font-size:15px;
  }

  .main-left {
      width:100%;
  }

  .map {
position: relative;
padding-bottom:40%;
height: 0;
overflow: hidden;
}
.map iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 180px !important;
}


  .main-right {
      width:100%;
  }

  .artist-news {
    width:100%;
    margin:20px 0 20px 0;
  }


  .artist-news a {
    font-size:28px;
  }

  .topics {
    width:100%;
  }

  .rules {
    width:100%;
  }

  .faq {
    width:100%;
    margin-top:20px;
  }

  .footer-logo img{
    width:45px;
  }

}
