@media only screen and (min-width:376px) and (max-width:960px) {
/*tablet用のcssを記述*/
}

@media(max-width:670px) {


  .container {
    width:100%;
  }
  .main-wrapper {
    width:100%;
  }
  .top-wrapper img {
    width:100%;
  }
  .header {
    height:45px;
  }

  .header-logo img{
    width:45px;
  }

 .nav-item {
   display:none;
 }

 /*#menu-icon {
   display:block;
 }*/

 #ham-menu {
     background-color: #fff; /*メニュー背景色*/
     box-sizing: border-box;
     padding: 10px; /*メニュー内部上下左右余白*/
     position: fixed;
     right: -200px; /*メニュー横幅①と合わせる*/
     top: 0;
     transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
     width: 200px; /*メニュー横幅①*/
     z-index: 1000;
     display: block;
 }

 #ham-menu a {
   font-size: 20px;
   font-family: 'IMPACT', sans-serif;
   margin:0 15px;
   color:#4682b4;
   transition: 0.3s;
   border-bottom:1px solid black;
 }

 /*メニューアイコン部分は疑似要素で*/
 #ham-menu::before {
     /*background-color: #fff; /*ボタン部分背景色*/*/
     border-radius:10px;
     color:#a9a9a9; /*アイコン（フォト）色*/
     content: "≡"; /*メニューアイコン*/
     display: block;
     font-size: 50px; /*アイコン（フォント）サイズ*/
     height: 45px;
     line-height: 35px; /*縦位置中央化*/
     position: absolute;
     right: 100%;
     text-align: center;
     top: 0;
     width: 50px;
 }

 /*透過背景部分*/
 #menu-background {
     background-color: #333; /*黒背景部分背景色*/
     display: block;
     height: 100%;
     opacity: 0;
     position: fixed;
     right: 0;
     top: 0;
     transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
     width: 100%;
     z-index: -1;
 }

 /*hover 時の処理*/
 #ham-menu:hover {
     transform: translate(-300px); /*メニュー横幅①と合わせる*/
 }

 #ham-menu:hover + #menu-background {
     opacity: 0.5; /*黒背景部分透過度*/
     z-index: 999;
 }

  .scroll-list .scroll-item a {
    font-size:15px;
  }

  .main-left {
      width:100%;
  }

  .map {
position: relative;
padding-bottom:40%;
height: 0;
overflow: hidden;
}
.map iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 180px !important;
}


  .main-right {
      width:100%;
  }

  .artist-news {
    width:100%;
    margin:20px 0 20px 0;
  }


  .artist-news a {
    font-size:28px;
  }

  .topics {
    width:100%;
  }

  .rules {
    width:100%;
  }

  .faq {
    width:100%;
    margin-top:20px;
  }

  .footer-logo img{
    width:45px;
  }

}
